/* Global Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */


/* ---------------------------------- Global CSS ---------------------------------- */
html {
	width:100%;
}
body {
	width:960px;
	margin:0 auto;
}

nav {
	height:50px;
	width:960px;
}

nav ul {
	list-style-type:none;
	overflow:hidden;
	margin-left: auto;
  	margin-right: auto;
	float:right;
	width:940px;
	margin-top:25px;
}

nav li {
	width:134px;
	float:left;
}	

nav a {
	display:block;
	text-decoration:none;
	text-align:center;
}

h1 {
	width:720px;
	height:109px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}


h1 a {
	background-image:url(../img/logo.png);
	display:block;
	width:264px;
	height:109px;
}

article {
	width:550px;
	float:left;
	margin-top:12px;
}

aside {
	width:340px;
	float:left;
	margin-left:50px;
	margin-top:12px;
}

footer {
	clear:both;
}

footer table {
	width:940px;
}

footer td {
	width:134px;
	text-align:center;
}
/* ---------------------------------- End Global CSS ---------------------------------- */	


/* ---------------------------------- Calendar Page CSS ---------------------------------- */
#calendar {
	width:940px;
}

#calendar td {
	width:134px;
	height:150px;
}
/* ---------------------------------- End Calendar Page CSS ---------------------------------- */


/* ---------------------------------- Local Services Page CSS ---------------------------------- */
.local {
	width:940px;
}

.local td {
	width:313px;
	height:150px;
}
/* ---------------------------------- End Local Services Page CSS ---------------------------------- */



/* ---------------------------------- Contact Page CSS ---------------------------------- */
#contact








