/* Global Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

/* End Reset */


/* 
 ---------------------------------- Color Pallet ---------------------------------- 
Dark Brown: #54422c rgb(84, 66, 44);
	Location- h2, blockquote
	
Medium Brown: #73624e rgb(115, 98, 78)
	Location- h3, p, li, td, nav
	
Gray Brown: #c5c8bd rgb(197, 200, 189)
	Location- nav a
	
Cream: #f4ecd7 rgb(244, 236, 215)
	Location- maincontent bg
	
Green: #86a389 rgb(134, 163, 137)
	Location- a, submit button, nav
----------------------------------------------------------------------------------------
 */
	


/* ---------------------------------- Global CSS ---------------------------------- */
html {
	background-image:url(../img/html_bg.jpg);
	width:100%;
	font-family:'Oxygen', 'Raleway', Corpid, "PT Sans", "Trebuchet MS", sans-serif;
	line-height:2em;
	font-style:normal;
	font-weight:normal;
}

body {
	background-color:rgb(244, 236, 215);
	max-width:70.1%;
	margin:0 auto;
	font-size:100%;
}

header {
	width:100%;
	height:100%;
}

img {
	max-width:100%;
}

nav {
	height:5.20833333%;
	width:100%;
	
}


nav ul {
	background-color:rgb(197, 200, 189);
	list-style-type:none;
	overflow:hidden;
	float:right;
	width:100%;
	padding-top:1%;
	padding-bottom:1%
}

nav li {
	width:16.65%;
	float:left;
}	

nav a {
	display:block;
	text-decoration:none;
	text-align:center;
	font-style:normal;
	font-weight:normal;
}


h1 {
	background:url(../img/florish.png) no-repeat;
	background-color:rgb(244, 236, 215);
}

h1 a {
	display:block;
	width:27.5%;
	height:110px;
	margin-left:3.2%;
}

h2 {
	margin-bottom:1.90%;
}

p {
	margin-bottom:2.75%;
	line-height:1.25em;
}

article {
	width:57.25%;
	float:left;
	margin-top:1.25%;
	margin-left:2.2%;
	margin-bottom:5%;
}


caption {
	text-align:left;
	margin-bottom:1.90%;
}

footer {
	border-top: 1px solid #c5c8bd;
	padding-top:2%;
	padding-bottom:2%;
	clear:both;
	width:100%;
	line-height:1em;
}

footer table {
	width:97.9%;
	text-align:center;
}


footer td, th {
	width:25%;
}

div {
	margin-top:2%;
	text-align:right;
	margin-right:2.2%;
}

/* ---------------------------------- Global Fonts ----------------------------------*/
nav a {
	font-size:1.375em;
	color:rgb(84, 66, 44);
}

.active a {
	color:rgb(134, 163, 137);
}

p, table, aside, footer, li {
	font-size:1em;
	color:rgb(115, 98, 78);
}

a {
	color:rgb(134, 163, 137);
	text-decoration:none;
	font-size:.875em;
	font-style:italic;
}

h2, caption {
	font-size:1.250em;
	color:rgb(84, 66, 44);
	font-weight:bold;
}

blockquote {
	font-size:1em;
	font-weight:bold;
	color:rgb(84, 66, 44);
}
	
/* ---------------------------------- End Global CSS ---------------------------------- */	

/* ---------------------------------- Index Page CSS ---------------------------------- */
#obituaries {
	width:26%;
	float:left;
	overflow:hidden;
	margin-top:1.25%;
	margin-right:2.2%;
	margin-left:11%;
}

#obituaries table tbody tr td a {
	padding-bottom:10px;
	display:block;
}

blockquote {
	margin-bottom:1.9%;
}

/* ---------------------------------- End Index Page CSS ---------------------------------- */


/* ---------------------------------- About Page CSS ---------------------------------- */

#about {
	width:32%;
	float:left;
	overflow:hidden;
	margin-top:1.25%;
	margin-right:2.2%;
	margin-left:6.25%;
}

#about th {
	text-align:left;
	font-weight:bold;
	line-height:1.5em;
	padding-top:10px;
}

.about {
	margin-bottom:8%;
}

/* ---------------------------------- End About Page CSS ---------------------------------- */

/* ---------------------------------- Calendar Page CSS ---------------------------------- */

caption {
margin-top:1.25%;
}

#calendar table { 
  width:100%;
  border-collapse: collapse; 
}

/* Zebra striping */
#calendar tr:nth-of-type(odd) { 
  background:rgb(197, 200, 189); 
  width:100%;
}

#calendar th { 
  background:rgb(84, 66, 44); 
  color:rgb(197, 200, 189); 
  font-weight: bold; 
  width:134px; 
}

#calendar td { 
  padding: 6px; 
  border: 1px solid rgb(134, 163, 137); 
  text-align: left; 
  width:134px;
}

#calendar th {
  padding: 6px; 
  border: 1px solid rgb(134, 163, 137); 
  text-align: left; 
  width:134px;
}

/* ---------------------------------- End Calendar Page CSS ---------------------------------- */


/* ---------------------------------- Pre-need Page CSS ---------------------------------- */
#preplan {
	width:30.25%;
	float:left;
	overflow:hidden;
	margin-top:1.25%;
	margin-right:2.2%;
	margin-left:7.85%;
}

#preplan li {
	margin-bottom:5%;
}

#preplan li:first-line {
	font-weight:bold;
}
	
/* ---------------------------------- End Pre-need Page CSS ---------------------------------- */


/* ---------------------------------- Local Services Page CSS ---------------------------------- */
#local {
	width:95.5%;
	margin-right:2.2%;
}

#local p{
	width:95.5%;

}

.local caption {
	margin-top:2%;
}

.local table { 
  width:100%;
  border-collapse: collapse; 
}

/* Zebra striping */
.local tr:nth-of-type(odd) { 
  background:rgb(197, 200, 189); 
  width:100%;
}

.local th { 
  background:rgb(84, 66, 44); 
  color:rgb(197, 200, 189); 
  font-weight: bold; 
  width:320px; 
}

.local td { 
  padding: 6px; 
  border: 1px solid rgb(134, 163, 137); 
  text-align: left; 
  width:320px;
}

.local th {
  padding: 6px; 
  border: 1px solid rgb(134, 163, 137); 
  text-align: left; 
  width:320px;
}
/* ---------------------------------- End Local Services Page CSS ---------------------------------- */



/* ---------------------------------- Contact Page CSS ---------------------------------- */
#contact {
	width:21.5%;
	float:left;
	overflow:hidden;
	margin-top:1.25%;
	margin-right:2.2%;
	margin-left:15%;
	line-height:1.1em;
}

.contact {
	font-weight:bold;
}

legend {
	font-weight:bold;
	font-size:1em;
	color:rgb(115, 98, 78);
}

textarea {
	border: 1px solid rgb(204, 204, 204);
	padding: 1.1% .9%;
	font: .938em 'Oxygen', 'Raleway', Corpid, "PT Sans", "Trebuchet MS", sans-serif;
	color:rgb(134, 163, 137);
	width: 100%;
	max-width: 100%;
	margin-bottom: 2.8%;
	background: rgb(255, 255, 255); 
}

fieldset {
	font: .938em 'Oxygen', 'Raleway', Corpid, "PT Sans", "Trebuchet MS", sans-serif;
}

input {
	font: .938em 'Oxygen', 'Raleway', Corpid, "PT Sans", "Trebuchet MS", sans-serif;
	margin-bottom: 2.8%;
	width:50%;
	color:rgb(134, 163, 137);
}

#submit {
	color:rgb(244, 236, 215);
	border:none;
	width:50%;
	height:1.75em;
	background: #b29779;
	 /* Old browsers */
	background: -moz-linear-gradient(top, #b29779 0%, #73624e 50%, #665645 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, 	left bottom, color-stop(0%,#b29779), color-stop(50%,#73624e), color-stop(100%,#665645)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b29779 0%,#73624e 50%,#665645 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b29779 0%,#73624e 50%,#665645 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b29779 0%,#73624e 50%,#665645 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b29779 0%,#73624e 50%,#665645 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b29779', endColorstr='#665645',GradientType=0 ); /* IE6-9 */
	}
/* ---------------------------------- End Contact Page CSS ---------------------------------- */











/* ---------------------- Tablet ----------------------*/
@media screen and (min-width: 481px) and (max-width: 760px){

	html {
		width:100%;
	}

	body {
		max-width:80.5%;
		margin:0 auto;
		font-size:100%;
	}

	nav {
		width: 100%;
		float:none;
		clear:both;
	}

	nav ul {
		float:none;
		width: 100%;
 
	}

	nav li {
		float:none;
		width: 100%;
	} 
	
	article {
		float:none;
		width:90%;
		margin:0 auto;
		margin-top:2%;
	
	}
	
	#obituaries, #about, #preplan, #contact {
		float:none;
		width:90%;
		margin:0 auto;
		margin-bottom:2%;
	}

	textarea {
		width: 100%;
		max-width: 100%;
		margin-bottom: 2.8%;

	}

	input {
		width:100%;
	}

}


/* ---------------------- Mobile ----------------------*/
@media screen and (min-width: 0px) and (max-width: 480px){
	
	html {
		width:100%;
	}

	body {
		max-width:86.25%;
		margin:0 auto;
		font-size:100%;
	}	
	
	nav {
		width: 100%;
		float:none;
		clear:both;
	}

	nav ul {
		float:none;
		width: 100%;
 
	}

	nav li {
		float:none;
		width: 100%;
	} 
	
	article {
		float:none;
		width:90%;
		margin:0 auto;
		margin-top:2%;
	
	}
	
	#obituaries, #about, #preplan, #contact {
		float:none;
		width:90%;
		margin:0 auto;
		margin-bottom:2%;
	}

	textarea {
		width: 100%;
		max-width: 100%;
		margin-bottom: 2.8%;

	}

	input {
		width:100%;
		margin:0 auto;
	}

}



